<footer>
    <p>
        <a href="https://github.com/kbathily" target="_blank">GitHub</a> |
        <a href="https://webpages.charlotte.edu/kbathily" target="_blank">Faculty Page</a> |
        <a href="https://kbathily.github.io" target="_blank">GitHub.io</a> |
        <a href="https://www.linkedin.com/in/bathily-bathily-a34b893a7/" target="_blank">LinkedIn</a> |
        <a href="https://www.freecodecamp.org/bathily" target="_blank">freeCodeCamp</a>
    </p>
    <p>Page designed by <a href="bathilydesigns.net/index.html">Bathily Designs</a> © 2026</p>
</footer>